pre {
  padding: 1rem;
  overflow: auto;
}
// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}
// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-social {
  flex-direction: row;
}

.nav-link {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.markdown-content {
	& img {
		max-width: 100%;
		height: auto;
	}
}
