<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet"  href="{{ get_url(path="style.css") | safe }}" />
  <title>Günther Wagner Software Developer {% block title %}{% endblock %}</title>
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container fs-4">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarToggler">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href={{ get_url(path="/") }}>Home</a>
        </li>
        {% set toplevel = get_section(path="_index.md") %}
        {% for subsection in toplevel.subsections %}
        {% set ss = get_section(path=subsection) %}
        <li class="nav-item">
          <a class="nav-link" href="{{ ss.path }}">{{ ss.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="navbar-nav nav nav-social order-lg-last order-0 ms-auto">
        {%- if config.extra.github -%}
          <a class="nav-item nav-link" href={{ config.extra.github }}><i class="fab fa-github"></i></a>
        {%- endif -%}

        {%- if config.extra.twitter -%}
          <a class="nav-item nav-link" href={{ config.extra.twitter }}><i class="fab fa-twitter"></i></a>
        {%- endif -%}

        {%- if config.extra.gitlab -%}
          <a class="nav-item nav-link" href={{ config.extra.gitlab }}><i class="fab fa-gitlab"></i></a>
        {%- endif -%}
    </div>
</div>
</nav>
<div class="container mt-4 fs-4">
{% block content %} {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
