{% extends "base.html" %}

{% block title %}
- Blog
{% endblock %}

{% block content %}

<ul>
  {% for page in section.pages %}
        <li>
            <code>{{ page.date }} - <a href="{{ page.permalink }}">{{ page.title }}</a></code>
        </li>
  {% endfor %}
</ul>
{% endblock %}