{% extends "base.html" %}

{% block content %}

<ul>
    {% for page in section.pages %}
    <li>
        <code><a href="{{ page.permalink }}">{{ page.title }}</a> - {{ page.description }}</code>
    </li>
    {% endfor %}
</ul>
{% endblock %}
